html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#container {
    margin: 0 auto;
    max-width: 500px;
    height: 100%;
    background: url(../image/bg.jpg) no-repeat;
    background-size: 100% 100%;
}

.page {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
}

.page.active {
    display: block;
}

.input {
    position: absolute;
    top: 70%;
    left: 50%;
    margin-left: -28%;
    padding: 0 1%;
    height: 6%;
    width: 56%;
    border: 0;
    outline: 0;
    background-color: transparent;
    text-align: center;
    font-size: 16px;
}

.result {
    position: absolute;
    top: 42%;
    left: 30%;
    width: 40%;
    height: 22%;
    text-align: center;
}

.cover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    background-image: url(../image/guide.png);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 77%;
}

.qr {
    position: absolute;
    bottom: 14%;
    left: 55%;
    width: 37%;
}

.pic,
.btn {
    position: absolute;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.pic {
    width: 100%;
    left: 0;
}

.p1-1 {
    top: 12%;
    height: 22%;
    background-image: url(../image/title.png);
}

.p1-2 {
    top: 36%;
    height: 26%;
    background-image: url(../image/intro1.png);
}

.p1-3 {
    top: 65%;
    height: 10%;
    background-image: url(../image/intro2.png);
}

.pos1 {
    z-index: 2;
    top: 17%;
    height: 50%;
    background-image: url(../image/frame.png);
}

.pos2 {
    z-index: 1;
    top: 19%;
    height: 46%;
}

.pos3 {
    top: 68%;
    height: 11%;
    background-image: url(../image/input.png);
}

.p2 {
    background-image: url(../image/p2.jpg);
}

.p3 {
    background-image: url(../image/p3.jpg);
}

.p4 {
    background-image: url(../image/p4.jpg);
}

.p5 {
    background-image: url(../image/p5.jpg);
}

.p6 {
    background-image: url(../image/p6.jpg);
}

.p7 {
    background-image: url(../image/p7.jpg);
}

.p8 {
    background-image: url(../image/p8.jpg);
}

.p9 {
    background-image: url(../image/p9.jpg);
}

.p10 {
    background-image: url(../image/p10.jpg);
}

.p11 {
    background-image: url(../image/p11.jpg);
}

.p12-1 {
    top: 7%;
    height: 70%;
    background-image: url(../image/res.png);
}

.p12-2 {
    top: 38%;
    height: 30%;
    background-image: url(../image/text.png);
}

.p13 {
    top: 14%;
    height: 75%;
    background-image: url(../image/answer.png);
}

.btn-start,
.btn-share {
    width: 100%;
    height: 10%;
    left: 0;
    bottom: 12%;
}

.btn-start {
    background-image: url(../image/btnstart.png);
}

.btn-share {
    background-image: url(../image/btnshare.png);
}

.btn-pre {
    width: 50%;
    height: 8%;
    left: 2%;
    bottom: 11%;
    background-image: url(../image/btnprev.png);
}

.btn-next,
.btn-submit {
    width: 50%;
    height: 8%;
    right: 2%;
    bottom: 11%;
}

.btn-next {
    background-image: url(../image/btnnext.png);
}

.btn-submit {
    background-image: url(../image/btnsubmit.png);
}